@import '@/assets/styles/global.scss';

.SelectWrap {
	height: 50px; //
	display: inline-block;
	position: relative;
	background-color: #f2f5ff;
	border-radius: 12px 12px 0 0;
  margin: 0 0px 0 4px;
	cursor: pointer;
	.Select {
    z-index: 20;
		position: absolute;
		bottom: 0;
		border: none;
		outline: none;
		height: 34px;
		background-color: #f2f5ff;
		width: 100%;
		padding-left: 10px;
		border-bottom: 2px solid #686868;
		padding-right: 40px;
		cursor: pointer;
	}
	.SelectTitle {
    z-index: 30;
		position: absolute;
		cursor: pointer;
		font-size: 18px;
		top: 22px; //
		left: 10px;
		color: #686868;
		transform: translate(0, 0);
		transition: 0.3s;
	}
	.selectIcon {
    z-index: 20;
		color: rgb(87, 87, 87) !important;
		background-color: #f2f5ff !important;
		border: none;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0, -40%);
	}
	.selectIconRotate {
    z-index: 20;
		transform: rotate(180deg);
		transition: 0.3s;
		transform-origin: 50% 30%;
	}
	.TitleFocus {
    z-index: 30;
		color: $blue;
		transform: translate(0, -14px);
		font-size: 12px;
		transition: 0.3s;
	}
	.SelectFocus {
    z-index: 20;
		border-bottom: 2px solid $blue;
		transition: 0.4s;
	}
	.selectItems {
		position: absolute;
		bottom: 0;
		background-color: #f2f5ff;
		width: 100%;
		padding: 10px 0;
		border-radius: 8px;
		box-shadow: 4px 4px 10px rgba($color: #000000, $alpha: 0.35);
		transition: 0.3s;
		transform: scale(0);
		opacity: 0;
		max-height: 320px;
		overflow: auto;
	}
	.selectItem {
		height: 30px;
		line-height: 30px;
		padding-left: 10px;
		color: rgb(64, 64, 64);
		&:hover {
			background-color: #eaeaea;
		}
	}
	.selectItemsOpen {
    z-index: 100;
		transition: 0.3s;
		transform: scale(1);
		opacity: 1;
	}
}
